<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text"
               class="form-control"
               [(ngModel)]="wordToSearch"
               (keyup)="search(wordToSearch)"
               placeholder="Search Medics">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center" role="info">
      <h4 class="alert-heading">Cargando...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Medics ({{ medics.length }})</h4>
            <h6 class="card-subtitle">Medics in app</h6>
          </div>
          <div class="col">
            <div class="text-right">
              <a [routerLink]="['/dashboard/medics/create']" class="btn btn-primary">
                <i class="fa fa-hospital-o"></i>
                Create Medic
              </a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="w100">Img</th>
              <th>Name</th>
              <th class="text-nowrap w100">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medic of medics">
              <td class="text-center">
                <img [src]="medic.img | image:'medics'"
                     (click)="openModal(medic)"
                     [alt]="medic.name"
                     class="w100 cursor">
              </td>
              <td>{{ medic.name }}</td>
              <td class="text-nowrap text-center">
                <a [routerLink]="['/dashboard/medics', medic._id]"
                   data-toggle="tooltip"
                   data-original-title="Edit Medic"> <i
                  class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a (click)="deleteMedic(medic)"
                   class="cursor"
                   data-toggle="tooltip"
                   data-original-title="Delete Medic"> <i class="fa fa-close text-danger"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
